{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock %}

{% block title %}Apagar Aluno{% endblock %}

{% block content %}
    <section class="detail">
        <h1>Apagar Aluno</h1>
        <p>Você tem certeza que deseja deletar "{{ aluno.get_full_name }}"?</p>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" value="Confirmar">
        </form>
    </section>
{% endblock %}