{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/forms.css' %}"/>
{% endblock %}

{% block title %}Detalhes do Empréstimo{% endblock %}

{% block content %}
    <section class="detail">
        <h2>Empréstimo</h2>
        <p><strong>Livro:</strong> {{ emprestimo.livro.nome }}</p>
        <p><strong>Aluno:</strong> {{ emprestimo.usuario.get_full_name }}</p>
        <p><strong>Data de Empréstimo:</strong> {{ emprestimo.data_emprestimo|date:"d/m/Y" }}</p>
        <p><strong>Data de Devolução:</strong> 
            {% if emprestimo.data_devolucao %}
                {{ emprestimo.data_devolucao|date:"d/m/Y" }}
            {% else %}
                Ainda não devolvido
            {% endif %}
        </p>
        <p><strong>Status:</strong> {{ emprestimo.get_status_display }}</p>

        {% if is_editable %}
            <a href="{% url 'emprestimo-update' emprestimo.pk %}">Editar Empréstimo</a>
        {% endif %}
    </section>
{% endblock %}
