{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
        {% block title %} {% endblock %}
    </title>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    {% endblock %}
</head>
<body>
<header class="menu">
    <a class="logo" href="{% url 'home' %}"><b>EM Creusa do Carmo Rocha</b></a>
    <ul>
        <div class="dropdown right" style="float:right;">
            <p class="dropbtn">Olá, {{ user.first_name }}!</p>
            <div class="dropdown-content">
                <form id="logout-form" method="POST" action="{% url 'logout' %}" style="margin: 0;">
                    {% csrf_token %}
                    <button type="submit" style="background:none; border:none; color:inherit; cursor:pointer; padding:10px; width:100%; text-align:left; font-family: Poppins;">
                        Logout
                    </button>
                </form>
            </div>
        </div>
        <li>
            <a href="{% url 'listar-alunos' %}">Alunos</a>
        </li>
        <div class="dropdown">
            <p class="dropbtn">Empréstimos</p>
            <div class="dropdown-content">
                <a href="{% url 'meus-emprestimo' %}">Meus empréstimos</a>
                <a href="{% url 'dashboard' %}">Acompanhamento</a>
            </div>
        </div>
        <li>
            <a href="{% url 'my-livros-list' %}">Livros</a>
        </li>
    </ul>
</header>
<div class="container">
    {% block content %} {% endblock %}
</div>
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css"/>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>